@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Issue Start and End Dates must be between Project Start and End Dates</h2>

<a href="javascript:void(0);" onclick="history.go(-1);">Back to Issue</a>


