@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Ionel Leuca</h3>

<address>
    Iasi<br />
    Romania<br />
    <abbr title="Phone">P:</abbr>
    +40 743 358 494
</address>

<address>
    <strong>Support:</strong>   <a href="">ionel.leuca@gmail.com</a><br />

</address>