@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Issue Tracker</h1>
    <p class="lead">Issue Tracker is a School Project - It's Business Model is The Management of Issues and Actions needed to develop or maintain a Project or Solution</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register and Log In to start managing your projects efficiently.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44310/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get the Code</h2>
        <p>GitHub Link</p>
        <p><a class="btn btn-default" href="https://github.com/ileuca/IssueTracker">Get the code &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>&copy; Ionel Leuca</h2>
        <p>&copy; 2021</p>
    </div>
</div>